@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Объявляем CSS-переменные. root - верхний уровень (html) */
:root {
    --container-width: 1270px;  /* 1240 ширина контентной части +15px отступ слева и +15px справа */
    --container-padding: 15px;
    --secondary: rgba(144,163,154,0.5); /* Полупрозрачный текст для сабтайтлов */
    --bg-color: linear-gradient(to right, #FF7B4E, #FF584E);
    --header-color: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    --header-color-mobile: linear-gradient(200deg, #428E5F -17.38%, #112120 78.4%), #204434;
    --orange: #FF7C4E;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F6F6F6;
  color: #0F1F1C;
}

/* Скрываение реализованных элементов при модульной вёрстке */
.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto; /* выравнивание контейнера по центру */
}

.container-right {
    padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding));
}

.container-left {
    padding-right: calc( (100% - var(--container-width))/2 + var(--container-padding));
}


/* ---------------------------------------------------- Header ------------------------------------------------------ */
.header {
    position: relative;
    min-height: 940px;
    background: var(--header-color);
    padding-top: 44px;
    color: #fff;
    overflow: hidden; /* Картинка не выпадает за пределы шапки */
}

.header a {
    color: inherit;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px; /* высота псевдоэлемента (угол посередине) */

    background-image: url('./../img/header/header-bottom.svg');
    background-size: 100%;
    /* + В svg удаляем width и height, добавляем preserveAspectRatio="none", чтобы
    svg трансформировался без учёта пропорций, поскольку svg растянулся с учётом своих пропорций.  */
}

.header__top {
    margin-bottom: 86px;
}

.header__row {
    display: flex;
}

.header__content {
    max-width: 592px;

    /* чтобы картинка не налазила на текст (при изменении окна браузера) */
    position: relative;
    z-index: 1;
}

/* Картинка */
.header__img {
    content: "";
    position: relative;
    flex-grow: 1; /* чтобы картинка растянулась и не налазила на блок с контентом */
}

.header__img img {
    position: absolute; /* чтобы картинка не сжимала другие блоки */
    top: -180px; /* размещение картинки в правом верхнем углу */
    right: -130px;
    max-width: unset; /* в reset.css прописан max-width: 100%, обнуляем его */
    width: 894px;
    height: 940px;
    pointer-events: none; /* запрет на сохранение картинки, иначе кнопки из nav становятся недоступны */
}

/* Графические элементы вокруг картинки */
.header__img::after {
    content: "";
    position: absolute;
    right: -87px;
    width: 830px;
    height: 622px;

    background-image: url('./../img/header/header-elements.svg');
    pointer-events: none; /* элемент обходится для указателя мыши */

}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500; /* medium */
}

.nav__list a {
    position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 10px; /* отступ справа при ховере -10px */
    bottom: -6px;

    display: block;
    height: 4px;
    background-color: #C4C4C4;
    border-radius: 50px;
}

/* Убираем стили с футера */

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
    display: none;
}

.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
    color: var(--orange);
}

.nav__toggle {
    display: none;
}

/* Logo */

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.logo a {
    color: inherit;
}

.logo--footer a{
    color: var(--orange) !important;
}

.nav__login {
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
}

/* Header Content */

.header__badge {
    display: inline-block; /* размер контейнера исходя из содержимого! */
    padding: 12px 30px;
    margin-bottom: 7px;

    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);

}

.header__title {
    margin-bottom: 30px; /* отступ вниз до текста */
    font-size: 55px;
}

.header__text {
    margin-bottom: 68px; /* отступ вниз до кнопки */
    max-width: 519px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}

/* -------------------------------------------------- Destinations -------------------------------------------------- */

.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
}

.destinations__row {
    display: flex;
    column-gap: 50px;
}

.destinations__content {
    max-width: 456px;
}

.destinations__title {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 600;
}

.destinations__title span {
    font-size: 30px;
}

.destinations__text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);
}

.btn {
    display: inline-block;
    padding: 13px 44px;

    background: var(--bg-color);
    color: #fff !important;

    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
}

.destinations__slider {
    width: 1110px;
    flex-shrink: 0; /* чтобы слайдер скрывался при изменении размера окна */
}

/* Slider */

.owl-item {
    display: flex;
    justify-content: center;
}

.slider {
    position: relative;
    height: 456px; /* задаём высоту блока, чтобы кнопки '<' '>' не прыгали при клике */
}

.slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover; /* корректное масштабирование */
    border-radius: 35px;

    transition: 0.2s ease-in;
}

.slider .center .slider__item { /* увеличиваем центральный элемент в карусели */
    margin-top: 0;
    width: 380px;
    height: 456px;
}

.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Вертикально по центру */
    z-index: 9;

    width: 68px;
    height: 68px;
    border-radius: 50%;

    display: flex;
    padding-left: 26px;
    align-items: center;
    background: var(--bg-color);
}

.slider__btn--prev { /* Кнопка "Назад" */
    left: -27px;
}

.slider__btn--next { /* Кнопка "Вперёд" */
    right: -27px;
}

/* -------------------------------------------------- Customers ----------------------------------------------------- */

.customers {
    padding: 100px 133px;
}

.customers__row {
    display: flex;
    column-gap: 68px;
}

.customers__img img {
    width: auto; /* Устанавливаем авто для ширины */
    max-width: 100%; /* Ограничиваем максимальную ширину */
    height: auto; /* Высота будет автоматически подстраиваться */
    border-radius: 60px; /* Оставляем радиус границ */
}

.customers__img img {
    border-radius: 60px;
}

.customers__title {
    margin-bottom: 35px;
    font-size: 45px;
    font-weight: 500;
}

/* Review */

.review {
    max-width: 491px; /* определили по длине строки с отзывом*/
}

.review__client {
    display: flex;
    align-items: center;
    column-gap: 33px;
    margin-bottom: 60px;
}

.review__client-avatar {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background: var(--bg-color);
    overflow: hidden; /* Чтобы картинка не выходила за пределы блока */
}

.review__client-desc-name { /* Имя пользователя */
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 500;
}

.review__client-desc-country { /* Страна пользователя */
    font-size: 25px;
    color: var(--secondary);
}

.review__text {
    margin-bottom: 30px;
    color: var(--secondary);
    font-size: 22px;
    font-weight: 500;
}

/* -------------------------------------------------- CTA ----------------------------------------------------------- */

.cta {
    padding: 100px 0;
}

.cta__plate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 15px;
    min-height: 580px;
    background-color: #fff;
    border-radius: 60px;
}

.cta__plate::before,
.cta__plate::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 83px;
}

.cta__plate::before {
    left: 74px;
    bottom: 56px;
    background-image: url('./../img/cta/cta-el-01.svg');
}

.cta__plate::after {
    top: 74px;
    right: 80px;
    background-image: url('./../img/cta/cta-el-02.svg');
}

.cta__title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
}

.cta__text {
    margin-bottom: 60px;
    font-size: 30px;
    color: var(--secondary);
}

/* -------------------------------------------------- Subscribe ----------------------------------------------------- */

.subscribe {
    padding: 35px 0 50px;
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscribe__title {
    margin-bottom: 60px;
    max-width: 494px;
    font-size: 55px;
    font-weight: 600;
}

/* Subscribe Form */

.subscribe-form {
    padding: 12px 15px 12px 46px;
    border-radius: 35px;
    background-color: #fff;

    display: flex;
    column-gap: 20px;
}

.subscribe-form__input {
    font-size: 24px;
    font-weight: 500;
}

.subscribe-form__input::placeholder {
    color: var(--secondary);
}


/* -------------------------------------------------- Footer -------------------------------------------------------- */

.footer {
    padding: 56px 0 74px;
}

.footer a {
    color: var(--secondary);
}

/* -------------------------------------------------- Buttons ------------------------------------------------------- */

.btn {
    display: inline-block;
    padding: 25px 45px;

    background: var(--bg-color);
    color: #fff;

    border-radius: 27px;
    font-size: 20px;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
    transition: 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn--login {
    padding: 13px 44px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
}

.btn--header {
    padding: 27px 48px;
    font-size: 25px;

}

.btn--subscribe {
    padding: 36px 86px;
    font-size: 25px;
    font-weight: 600;
}

/* -------------------------------------------------- Burger Menu --------------------------------------------------- */

.menu-icon-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Первый прямоугольник бургера */
.menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #fff;
}

/* Второй прямоугольник */
.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s; /* размещение по центру */
}

/* Третий (нижний) прямоугольник */
.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
    background-color: transparent;
}

.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* -------------------------------------------------- Media --------------------------------------------------------- */

@media screen and (max-width: 1269px) {
    .container-right {
        padding-left: 15px;
    }

    .container-left {
        padding-right: 15px;
    }

    .desinations__slider {
        width: 900px; /* Центральное изображение становится видимым */
    }

    .customers__img {
        padding-top: 20px;
    }

    .customers__img img {
        max-width: 300px; /* Устанавливаем максимальную ширину для меньших экранов */
        height: auto; /* Высота будет автоматически подстраиваться */
        border-radius: 40px; /* Уменьшаем радиус границ */
    }
}

@media screen and (max-width: 1000px) {
    .nav {
        column-gap: 20px;
    }

    .nav__list {
        column-gap: 40px;
    }

    .nav__list--header {
        display: none;
    }

    .nav__login--header {
        display: none;
    }

    .nav__toggle {
        display: block;
    }

    .no-scroll {
        overflow-y: hidden;
    }

    /* Подложка для мобильного меню, растянутая на всю ширину */
    .nav--mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;

        background: var(--header-color-mobile);

        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /* Увеличиваем логотип, если nav--mobile активен */
    .nav--mobile .logo {
        font-size: 30px;
    }

    /* Отображаем список, если .nav--mobile = true */
    .nav--mobile .nav__list {
        display: flex;
        padding-top: 40px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        font-size: 22px;
    }

    /* Убираем подчёркивание у активного элемента (которое задано по умолчанию для демонстрации) */
    .nav--mobile .nav__list a.active::after,
    .nav--mobile .nav__list a:hover::after {
        display: none;
    }

    /* Отображаем кнопки, если .nav--mobile = true */
   .nav--mobile .nav__login {
        display: flex;
        padding-top: 40px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        font-size: 22px;
    }

    /* Расположение бургура в левом верхнем углу, если .nav--mobile = true */
   .nav--mobile .nav__toggle {
        position: fixed;
        top: 45px;
        right: 20px;
    }

    /* Картинка перемещается вправо */
    .header__img img {
        right: -256px;
    }

    /* Псевдоэлементы (el) перемещаются вправо */
    .header__img::after {
        right: -300px;
    }

    .destinations__slider {
        width: 700px;
    }

   .slider {
        height: 304px;
    }

    .slider .slider__item {
        margin-top: 18px;
        width: 223px;
        height: 268px;
    }

    .slider .center .slider__item {
        margin-top: 0;
        width: 253px;
        height: 304px;
    }
}

@media screen and (max-width: 850px) {
    .container-right {
        padding-right: 15px;
    }

    .header {
        min-height: unset; /* обнуляем высоту, чтобы картинка не отрывалась от низа страницы */
        padding-top: 20px;
    }

    .header__top {
        margin-bottom: 40px;
    }

    .header__row {
        flex-direction: column;
    }

    .header__badge {
        margin-bottom: 5px;
        padding: 8px 20px;
        font-size: 16px;
        border-radius: 10px;
    }

    .header__title {
        margin-bottom: 20px;
        font-size: 35px;
    }

    .header__text {
        margin-bottom: 40px;
        font-size: 20px;
        max-width: 450px; /* сабтайтл не выходит за пределы заголовка */
    }

    .btn--header {
        padding: 20px 30px;
        border-radius: 10px;
    }

    .header__img img {
        position: static; /* картинка растягивает шапку по высоте (чтобы вмещалась) */
        width: 80%; /* 70% от ширины экрана */
        height: auto;
    }

    .header__img::after {
        top: 150px;
        right: 0;
    }

    .destinations {
        padding: 40px 0 50px;
    }

    .destinations__row {
        flex-direction: column;
        row-gap: 40px;
    }

    .destinations__row > :nth-child(1) {
        margin-bottom: 40px; /* Увеличиваем отступ между 2 и 3 элементом */
    }

    .destinations__slider {
        width: 100% /* Расположение карусели по всей ширине */
    }

    .slider {
        height: 304px;
    }

    .slider .slider__item {
        margin-top: 18px;
        width: 223px;
        height: 268px;
    }

    .slider .center .slider__item {
        margin-top: 0;
        width: 253px;
        height: 304px;
    }

    .slider__btn--prev {
        left: -15px; /* Кнопки вылазят на 15 пикселей по краям */
    }

    .slider__btn--next {
        right: -15px; /* Кнопки вылазят на 15 пикселей по краям */
    }

    .destinations__title {
        margin-bottom: 10px;
        font-size: 35px;
    }

    .destinations__title span {
        display: block; /* Чтобы спан был вверху страницы */
        font-size: 20px;
    }

    .destinations__text {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .btn {
        padding: 20px 35px;
        border-radius: 20px;
        font-size: 18px;
    }

    .btn--login {
        padding: 13px 44px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 100px;
    }

    /* Customers */

    .customers {
        padding: 50px 0 60px;
    }

    .customers__title {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .review__client {
        column-gap: 30px;
        margin-bottom: 20px;
    }

    .review__client-avatar {
        width: 80px;
        height: 80px;
    }

    .review__client-desc-name {
        margin-bottom: 5px;
        font-size: 23px;
        font-weight: 500;
    }

    .review__client-desc-country {
        font-size: 18px;
    }

    .review__text {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .review__rating {
        max-width: 200px;
    }

    .customers__img img {
        max-width: 300px;
        border-radius: 40px;
    }

    /* CTA */

    .cta {
        padding: 50px 0;
    }

    .cta__title {
        margin-bottom: 20px;
        font-size: 35px;
    }

    .cta__text {
        margin-bottom: 30px;
        font-size: 20px;
        color: var(--secondary);
    }

    .cta__plate {
        min-height: 380px;
        padding: 20px 15px;
        border-radius: 40px;
    }

    /* Subscribe */

    .subscribe {
        padding: 25px 0 30px;
    }

    .subscribe__title {
        margin-bottom: 30px;
        font-size: 35px;
    }

    .subscribe-form {
        padding: 10px 10px 10px 20px;
        border-radius: 25px;
        column-gap: 10px;
    }

    .subscribe-form__input {
        font-size: 20px;
    }

    /* Footer */

    .nav__login--footer {
        display: none;
    }
}

@media screen and (max-width: 670px) {
   .header__img::after {
        display: none;
    }

   .nav--mobile .nav__toggle {
        top: 20px;
        right: 15px;
   }

   .nav--mobile .nav__list,
   .nav--mobile .nav__login {
       row-gap: 30px;
   }

   .customers__row {
        flex-direction: column-reverse;
        row-gap: 30px;
    }

   .customers__img {
        text-align: center;
   }

   .customers__img img {
        max-width: 100%;
    }

    .cta__plate::before {
        left: 40px;
        bottom: 20px;
    }

    .cta__plate::after {
        top: 20px;
        right: 24px;
    }

   /* Footer */

   .nav--footer {
        flex-direction: column-reverse;
        row-gap: 30px;
    }
}

@media (max-width: 490px) {
    .cta__plate::before {
        display: none;
    }

    .cta__plate::after {
        display: none;
    }
}

@media (max-width: 460px) {
    .subscribe-form {
        flex-direction: column;
        row-gap: 10px;
    }

    .subscribe-form__input {
        padding: 15px 0;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 20px;
    }

    .nav__list--footer {
        flex-direction: column;
        row-gap: 15px;
        font-size: 20px;
        align-items: center;
    }
}



