@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Объявляем CSS-переменные. root - верхний уровень (html) */
:root {
    --container-width: 1270px;  /* 1240 ширина контентной части +15px отступ слева и +15px справа */
    --container-padding: 15px;
    --secondary: rgba(144,163,154,0.5); /* Полупрозрачный текст для сабтайтлов */
    --bg-color: linear-gradient(to right, #FF7B4E, #FF584E);
    --orange: #FF7C4E;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F6F6F6;
  color: #0F1F1C;
}

/* Скрываение реализованных элементов при модульной вёрстке */
.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto; /* выравнивание контейнера по центру */
}

/* ---------------------------------------------------- Header ------------------------------------------------------ */
.header {
    position: relative;
    min-height: 940px;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    padding-top: 44px;
    color: #fff;
    overflow: hidden; /* Картинка не выпадает за пределы шапки */
}

.header a {
    color: inherit;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px; /* высота псевдоэлемента (угол посередине) */

    background-image: url('./../img/header/header-bottom.svg');
    background-size: 100%;
    /* + В svg удаляем width и height, добавляем preserveAspectRatio="none", чтобы
    svg трансформировался без учёта пропорций, поскольку svg растянулся с учётом своих пропорций.  */
}

.header__top {
    margin-bottom: 86px;
}

.header__row {
    display: flex;
}


.header__content {
    max-width: 592px;

    /* чтобы картинка не налазила на текст (при изменении окна браузера) */
    position: relative;
    z-index: 1;
}

/* Картинка */

.header__img {
    position: relative;
    flex-grow: 1; /* чтобы картинка растянулась и не налазила на блок с контентом */
}

.header__img img {
    position: absolute; /* чтобы картинка не сжимала другие блоки */
    top: -180px; /* размещение картинки в правом верхнем углу */
    right: -130px;
    max-width: unset; /* в reset.css прописан max-width: 100%, обнуляем его */
    width: 894px;
    height: 940px;
}

/* Nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500; /* medium */
}

.nav__list a {
    position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
    content: "";

    position: absolute;
    left: 0;
    right: 10px; /* отступ справа при ховере -10px */
    bottom: -6px;

    display: block;
    height: 4px;
    background-color: #C4C4C4;
    border-radius: 50px;
}

/* Убираем стили с футера */
.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
    display: none;
}

/*  */
.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
    color: var(--orange);
}

.nav__login {

}

/* Logo */

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.logo a {
    color: inherit;
}

.logo--footer a{
    color: var(--orange) !important;
}

.nav__login {
    display: flex;
    align-items: center;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
}


/* Header Content */

.header__badge {
    display: inline-block; /* размер контейнера исходя из содержимого! */
    padding: 12px 30px;
    margin-bottom: 7px;

    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);

}

.header__title {
    margin-bottom: 30px; /* отступ вниз до текста */
    font-size: 55px;
}

.header__text {
    margin-bottom: 68px; /* отступ вниз до кнопки */
    max-width: 519px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}

/* -------------------------------------------------- Destinations -------------------------------------------------- */

.destinations {
    padding: 96px 100px;
    overflow-x: hidden;
}

.destinations__row {
    display: flex;
    column-gap: 50px;
}

.destinations__content {
    max-width: 456px;
}

.destinations__title {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 600;
}

.destinations__title span {
    font-size: 30px;
}

.destinations__text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);
}

.btn {
    display: inline-block;
    padding: 13px 44px;

    background: var(--bg-color);
    color: #fff !important;

    border-radius: 100px;
    font-size: 15px;
    font-weight: 500;
}

.destinations__slider {
    width: 1110px;
    flex-shrink: 0; /* чтобы слайдер скрывался при изменении размера окна */
}

/* Slider */

.slider {
    position: relative;
    height: 456px; /* задаём высоту блока, чтобы кнопки '<' '>' не прыгали при клике */
}

.slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover; /* корректное масштабирование */
    border-radius: 35px;

    transition: 0.2s ease-in;
}

.slider .center .slider__item { /* увеличиваем центральный элемент в карусели */
    margin-top: 0;
    width: 380px;
    height: 456px;
}

.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Вертикально по центру */
    z-index: 9;

    width: 68px;
    height: 68px;
    border-radius: 50%;

    display: flex;
    padding-left: 26px;
    align-items: center;
    background: var(--bg-color);
}

.slider__btn--prev { /* Кнопка "Назад" */
    left: -27px;
}

.slider__btn--next { /* Кнопка "Вперёд" */
    right: -27px;
}

/* -------------------------------------------------- Customers ----------------------------------------------------- */

.customers {
    padding: 100px 133px;
}

.customers__row {
    display: flex;
    column-gap: 68px;
}

.customers__img {
    max-width: 478px;
}

.customers__img img {
    border-radius: 60px;
}

.customers__content {

}

.customers__title {
    margin-bottom: 35px;
    font-size: 45px;
    font-weight: 500;
}

/* Ревью */

.review {
    max-width: 491px; /* определили по длине строки с отзывом*/
}

.review__client {
    display: flex;
    align-items: center;
    column-gap: 33px;
    margin-bottom: 60px;
}

.review__client-avatar {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background: var(--bg-color);
    overflow: hidden; /* Чтобы картинка не выходила за пределы блока */
}

.review__client-desc { /* Описание User'a */

}

.review__client-desc-name { /* Имя пользователя */
    margin-bottom: 10px;
    font-size: 33px;
    font-weight: 500;
}

.review__client-desc-country { /* Страна пользователя */
    font-size: 25px;
    color: var(--secondary);
}

.review__text {
    margin-bottom: 30px;
    color: var(--secondary);
    font-size: 22px;
    font-weight: 500;
}

.review__rating {

}

/* -------------------------------------------------- Cta ----------------------------------------------------------- */

.cta {
    padding: 100px 0;
}

.cta__plate {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 15px;
    min-height: 580px;
    background-color: #fff;
    border-radius: 60px;
}

.cta__plate::before,
.cta__plate::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 83px;
}

.cta__plate::before {
    left: 74px;
    bottom: 56px;
    background-image: url('./../img/cta/cta-el-01.svg');
}

.cta__plate::after {
    top: 74px;
    right: 80px;
    background-image: url('./../img/cta/cta-el-02.svg');
}

.cta__title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
}

.cta__text {
    margin-bottom: 60px;
    font-size: 30px;
    color: var(--secondary);
}

.cta__button {

}

/* -------------------------------------------------- Subscribe ----------------------------------------------------- */

.subscribe {
    padding: 35px 0 50px;
}

.container {

}

.subscribe__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscribe__title {
    margin-bottom: 60px;
    max-width: 494px;
    font-size: 55px;
    font-weight: 600;
}

/* Subscribe Form */

.subscribe-form {
    padding: 12px 15px 12px 46px;
    border-radius: 35px;
    background-color: #fff;

    display: flex;
    column-gap: 20px;
}

.subscribe-form__input {
    font-size: 24px;
    font-weight: 500;
}

.subscribe-form__input::placeholder {
    color: var(--secondary);
}

.subscribe-form__btn {
    display: inline-block;
    padding: 34px 86px;

    background: var(--bg-color);
    color: #fff;

    border-radius: 35px;
    font-size: 25px;
    font-weight: 600;
}

.subscribe-form__btn:hover {
    opacity: 0.9;
    transition: 0.2s ease-in;
}

.subscribe-form__btn:active {
    position: relative;
    top: 1px;
}

/* -------------------------------------------------- Footer -------------------------------------------------------- */

.footer {
    padding: 56px 0 74px;
}

.footer a {
    color: var(--secondary);
}

/* -------------------------------------------------- Buttons ------------------------------------------------------- */

.btn {
    display: inline-block;
    padding: 25px 45px;

    background: var(--bg-color);
    color: #fff;

    border-radius: 27px;
    font-size: 20px;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
    transition: 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn--login {
    padding: 13px 44px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
}

.btn--header {
    padding: 27px 48px;
    font-size: 25px;

}











/* Comments */
/*

.container-right {
    padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding));
}

.container-left {
    padding-right: calc( (100% - var(--container-width))/2 + var(--container-padding));
}

.block {
    height: 200px;
    background-color: darkseagreen;
}

*/